/*CSS Syntax.
Each declaration includes a CSS property name and a value, separated by a colon.
Multiple CSS declarations are separated with semicolons, and declaration blocks are surrounded by curly braces.*/

* {
    
    text-decoration: none;
    margin: 0px;/*The CSS margin property defines a margin (space) outside the border.*/
    padding: 0px;/*The CSS padding property defines a padding (space) between the text and the border.*/
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;/*The CSS font-family property defines the font to be used.*/
    
}

.wrapper {
    width: 1100px;/*widht : menentukan lebar*/
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;/*The CSS font-size property defines the text size to be used.*/
    font-weight: 800;
    float: left;/*The float is used for positioning and formatting content e.g. let an image float left to the text in a container.*/
    font-family: courier;
    color: #FFFFFF;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: rgb(123, 205, 128);
    z-index: 1;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 100px;/*Sets the top margin of an element*/
    margin-bottom: 100px;/*Sets the bottom margin of an element*/
    margin-left: auto;
    margin-right: auto;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #2c5d3f;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
    float: right;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;/*The border-radius property is used to add rounded borders to an element*/
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background:green;
    text-decoration: none;
}

a.tbl-ijo {
    background: green;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-ijo:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: left;
    width: 100%;
}




